.hero {
    color: rgba(0, 0, 0, .3);
    height: 400px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;

    @media (min-height: 400px) {
        height: 100vh;
    }
}

.hero__center {
    left: 0;
    position: relative;
    right: 0;
    text-align: center;

    @media (min-height: 400px) {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.hero__title {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        font-size: 80px;
    }
    @include media-breakpoint-up(md) {
        font-size: 100px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 120px;
    }
}

.hero__slogan {
    font-size: 20px;

    @include media-breakpoint-up(sm) {
        font-size: 25px;
    }
    @include media-breakpoint-up(md) {
        font-size: 30px;
    }
}

.hero__read-more {
    animation: hero-read-more-wiggle 10s ease-in-out infinite;
    bottom: 25px;
    color: rgba(0, 0, 0, .3);
    left: 50%;
    padding-bottom: 30px;
    position: absolute;
    text-decoration: none;
    transform: translateX(-50%);

    &:hover {
        color: rgba(0, 0, 0, .3);
        text-decoration: none;
    }
}

.hero__read-more-label {
    font-size: 24px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.hero__read-more-icon {
    animation: hero-read-more-wiggle 5s ease-in-out infinite;
    bottom: 0;
    height: 24px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 38px;
}

@keyframes hero-read-more-wiggle {
    0% {
        transform: translate(-50%, 0);
    }
    20% {
        transform: translate(-50%, -5px);
    }
    40% {
        transform: translate(-50%, 5px);
    }
    60% {
        transform: translate(-50%, 0);
    }
    80% {
        transform: translate(-50%, -5px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
