.section {
    color: $white;
    display: block;
    overflow: hidden;
    padding: 25px 0;
    width: 100%;

    @include media-breakpoint-up(md) {
        padding: 50px 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 100px 0;
    }

    &--quick-look {
        // background-color: $color-quick-look;
    }
    &--step-by-step {
        // background-color: $color-step-by-step;
    }
    &--learn-more {
        // background-color: $color-learn-more;
    }
}
