.teaser {
    color: $white;
    display: block;
    padding: 50px 0;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.teaser__icon {
    display: inline-block;
    margin: 0 auto;
    transform: scale(1);

    svg {
        max-height: 150px;
        max-width: 150px;
    }

    .teaser:hover & {
        animation: teaser-breath 3s ease-in-out infinite both;
    }
}

.teaser__label {
    display: block;
    margin: 30px 0 0;
}

@keyframes teaser-breath {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
